
<style>
  .custom-navbar{
   background-color: white;
  }

  .login{
    float: right;
  }
  .botao{
    border-radius: 20px;
    background: linear-gradient(to right, #c3a8eb,#9762E7); /* Cor de fundo do botão */
            color: #ffffff; /* Cor do texto do botão */
            border: 2px solid #ffffff; /* Cor da borda do botão (branca) */
        
  }
  
</style>

<body>
  
  <nav class="navbar navbar-expand-lg custom-navbar">
    
    <div class="container-fluid">
      <a class="navbar-brand" href="\"><img width="150px" src="./img/logo1.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#11">Quem somos nós</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#22">Nossos serviços</a>
          </li>
          <li class="nav-item">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#333">Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Suporte</a>
            </li>
            <li>  
              <a class="nav-link active" aria-current="page" href="cadastrar"><p ><button class="botao">Cadastre-se</button></p> <img src="img/login.png" width="4px" alt=""></a>
            </li>
          <li>  
            <a class="nav-link active" aria-current="page" href="logar"><p ><button class="botao">Login</button></p> <img src="img/login.png" width="4px" alt=""></a>
          </li>
         
        </ul>
        
      </div>
    </div>
  </nav>

  