<%- include('partials/header') %> 
<%- include('partials/navbar7') %> 
<style>
    .divtexto{
   padding-inline-start: 1%;
    width: 65%;
    text-align: justify;
    font-family: arial;

}

body{
    background: linear-gradient(to right, #c3a8eb,#126cd2);
  
  }

p{
    font-size: large;
}
h2{
    font-size: large;
}




</style>

<center><div class="divtexto">

    <h2>Direitos Trabalhistas previstos na CLT</h2>
    <br>

    <h2>1. Jornada de Trabalho</h2>
    <p>De acordo com a Constituição Federal de 1988, a jornada de trabalho de um colaborador não deve ultrapassar</p>
    <p>oito horas diárias e 44 horas semanais. Tudo o que for trabalhado além destes limites é considerado como hora extra</p>
    <p>e deverá ser remunerado como tal.</p>
    <br>
    <h2>2. Hora Extra</h2>
    <p>De acordo com o artigo 59 da CLT legislação permite que sejam feitas até 2 horas extras diárias, desde que estas horas sejam realizadas por razão imperiosa,</p>
    <p>motivos de força maior ou conclusão de serviços inadiáveis que possam acarretar prejuízos.</p>
    <p>De acordo com as leis trabalhistas, existe um limite de horas extras para a jornada de trabalho, além de limite para hora extra.</p>
    <p>Hoje, é definido até 8 horas de trabalho por dia, com mínimo de 1 hora de almoço. Sendo até 44 horas trabalhadas semanais.</p>
    <p>Hora extra nada mais é do que exceder as horas de trabalho.</p>
    <p>E é permitido exceder até 2 horas de trabalho por dia, completando, no máximo, 10 horas semanais extras.</p>
    <p>O pagamento de hora extra deve ser de, ao menos, 50% a mais do valor normal da hora do colaborador.</p>
    <p>Quando esta for realizada à noite, em feriados ou aos finais de semana, o colaborador deverá receber os respectivos adicionais.</p>
    <br>
    <h2>3. Intervalos para descanso: Intrajornada e entre jornadas</h2>
    <p>A CLT também garante aos trabalhadores uma série de intervalos. Eles se dedicam ao descanso entre uma jornada e outra.</p> 
    <p>Também, em meio à jornada para fins de descanso e alimentação.</p>
    <p>O intervalo entre jornadas deve ser, no mínimo, de 11 horas. Já o intrajornada, dentro dela,</p> 
    <p>somente existe para jornadas acima de 4 horas diárias. Até 6 horas há direito ao intervalo de 15 minutos,</p>
    <p>enquanto a partir de 6 horas ele é de ao menos 1 hora.</p>
    <p>Contudo, a CLT também permite aos sindicatos estipularem intervalo intrajornada inferior ao previsto na lei.</p> 
    <p> Entretanto, dispõe que nesse caso as jornadas superiores a 6 horas terão no mínimo 30 minutos de intervalo.</p>
    <br>
    <h2>4. FGTS</h2>
    <p>Mensalmente, a empresa é obrigada a depositar o equivalente a 8% do valor do salário bruto do colaborador.</p> 
    <p>Esse depósito tem o objetivo de que o colaborador consiga receber esta reserva nos momentos em que mais precisa:</p>
    <p>no caso de ser demitido ou para usar na compra da casa própria, por exemplo.</p>
    <br>
    <h2>5. 13º Salário</h2>
    <p>Todo colaborador registrado tem direito a receber o 13º salário. Este é pago em duas parcelas.</p>
    <p>O valor será integral se o colaborador trabalhou pelo período de um ano ou parcial, caso tenha trabalhado mesmo de um ano.</p>
    <p>De acordo com as leis em relação ao cálculo do décimo terceiro  mencionadas acima, o colaborador recebe um salário líquido a mais como benefício.
    <p>O pagamento é feito em duas parcelas:</p>
    <p>◉ A primeira deve ser paga até o último dia útil de novembro;</p>
    <p>◉ A segunda até o dia 20 de dezembro.</p>
    <p>Quando esse dia cai em um final de semana, o pagamento deverá ser antecipado. As parcelas não são divididas igualmente.</p>
    <p>O valor do décimo terceiro salário é integral ao colaborador que trabalhou o ano todo na empresa (1/12 avos).</p>
    <p>Para os colaboradores que entraram na empresa com o ano em andamento, o valor é pago proporcionalmente.</p>
    <br>
    <h2>6. Vale Transporte</h2>
    <p>O colaborador que utiliza transporte público para ir e voltar da empresa pode solicitar o vale-transporte.O benefício deve ser dado no primeiro dia útil mês.</p>
    <p>Observar os direitos dos colaboradores pode evitar desgastes desnecessários para a empresa.</p>
    <br>
    <h2>7. Adicional de insalubridade e periculosidade</h2>
    <p>A CLT também garante aos empregados que trabalham expostos a ambientes perigosos ou insalubres o recebimento de um valor extra mensalmente</p> 
    <p>que visa compensar o desgaste físico e à ameaça sob a qual se arriscaram</p>
    <p>A periculosidade é definida nos artigos 193 a 196 da CLT e na NR nº 16 do MTE. O adicional é correspondente a 30% sobre o salário-base. Note-se bem a diferença:</p>
    <p>enquanto o adicional de insalubridade (10 a 40%) é pago sobre o salário mínimo, o adicional de periculossssssidade (30%) é pago sobre o salário-base do empregado.</p>
    





    <br><br><br><br><br><br>
    <footer><center>fontes: <a href="https://www.oitchau.com.br/blog/os-principais-direitos-trabalhistas-garantidos-pela-clt/">https://www.oitchau.com.br/blog/os-principais-direitos-trabalhistas-garantidos-pela-clt/</a></center></footer>
</center></div>


<%- include('partials/footer') %> 