<%- include('partials/header') %> 
<%- include('partials/navbar7') %> 
<style>
    .divtexto{
   padding-inline-start: 1%;
    width: 65%;
    text-align: justify;
    font-family: arial;

}

body{
    background: linear-gradient(to right, #c3a8eb,#126cd2);
  
  }

p{
    font-size: large;
}
h2{
    font-size: large;
}




</style>


<center><div class="divtexto">

    <h2>O que é EPI</h2>
    <br>

    <p>EPI significa Equipamento de Proteção Individual. São equipamentos e acessórios desenvolvidos para proteger</p>
    <p>uma parte do corpo ou o indivíduo todo contra riscos específicos.</p>
    <p>De acordo com a NR 6, a definição de EPI seria: “todo dispositivo ou produto de uso individual utilizado pelo</p>
    <p> trabalhador que tem como finalidade protegê-lo de riscos ou ameaças à segurança e à saúde”.</p>
    <p>Dessa forma, entram na lista dos EPIs itens como:</p>
    <p>◉ Óculos de proteção;
    <p>◉ Luvas</p>
    <p>◉ Capacetes;</p>
    <p>◉ Protetores auriculares;</p>
    <p>◉ Máscaras;</p>
    <p>◉ Abafadores de som;</p>
    <p>◉ Cintos de segurança;</p>
    <p>Equipamentos de segurança para alturas.</p>
    <p>Há ainda outros EPIs, sendo que cada função ou cada tipo de risco necessita de equipamentos próprios.</p>
        <br>
    <h2>Qual a importância do uso dos EPI's</h2>
    
    <p>Depois de entender o que é EPI, também é preciso entender sua importância.</p>
    <p>Os Equipamentos de Proteção Individual são capazes de prevenir grande parte dos acidentes de trabalho e doenças ocupacionais.</p>
    <p>Eles tornam a empresa mais segura tanto para empregados quanto para empregadores,</p> 
    <p>já que, dentro do local de trabalho, acidentes podem acontecer com qualquer pessoa.</p>
    <p>Além disso, a empresa que não fornece e não fiscaliza a utilização de EPIs,</p>
    <p>está descumprindo os termos da NR 6, ficando sujeita a multas e processos judiciais.</p>
    <p>Preocupar-se com a saúde e segurança das pessoas é a melhor forma de garantir que o trabalho</p> 
    <p>continuará acontecendo com o mínimo possível de imprevistos.</p>
        <br>
    <h2>Quais os riscos de não utilizar EPIs?</h2>

    <p>Em primeiro lugar, o principal risco da não utilização de EPIs é a abertura que se dá aos acidentes de trabalho.</p>
    <p>Acidentes de trabalho podem incapacitar o colaborador temporária ou permanentemente,</p> 
    <p>gerando afastamento ou, nos casos mais graves, aposentadoria por invalidez.</p>
    <p>Além disso, diversas empresas possuem riscos que agravam a saúde dos colaboradores gradativamente.</p>
    <p>É o caso de empresas onde há muito ruído (que pode levar à surdez) ou agentes químicos</p> 
    <p>(que podem causar problemas respiratórios e várias outras doenças).</p>
    <p>Somente a utilização de EPIs pode minimizar o risco de o colaborador desenvolver uma doença em decorrência do trabalho.</p>
    <p>Por isso, entender o que é EPI e quais os riscos de não utilizá-los é primordial para todo gestor.</p>
        <br>
    <h2>Vantagens de utilizar EPIs?</h2>
    
    <p>◉ O ambiente de trabalho se torna mais saudável para todos os envolvidos, e o número de acidentes diminui drasticamente.</p>
    <p>◉ Além disso, também aumenta a satisfação dos colaboradores, que se sentem mais aptos e têm menos reclamações</p>
    <p>◉ Por fim, a qualidade de vida melhora de forma geral, trazendo bem-estar, saúde e segurança a todos os setores da empresa.</p>


    <br><br><br><br><br>
    <footer><center>fontes: <a href="https://clinimedjoinville.com.br/o-que-e-epi-e-qual-a-importancia-de-sua-utilizacao/">https://clinimedjoinville.com.br/o-que-e-epi-e-qual-a-importancia-de-sua-utilizacao/</a></center></footer>
</center></div>

<%- include('partials/footer') %> 