<%- include('partials/header') %> 
<%- include('partials/navbar7') %> 
<style>
    .divtexto{
   padding-inline-start: 1%;
    width: 65%;
    text-align: justify;
    font-family: arial;

}

body{
    background: linear-gradient(to right, #c3a8eb,#126cd2);
  
  }

p{
    font-size: large;
}
h2{
    font-size: large;
}




</style>

<center><div class="divtexto">

    <h2>Sobre a Ergonomia</h2>
    <p>Hoje em dia, é difícil pensar em bem-estar sem falar de ergonomia, não é mesmo? Ela impacta a todos diretamente. Não só a saúde física, mas também a saúde mental das pessoas, sendo fundamental inclusive no ambiente de trabalho.</p>
    <h2>Mas o que realmente é a Ergonomia?</h2>
    <p>Na prática, ela é o conjunto de regras e procedimentos que estudam a organização do ambiente de trabalho e as interações entre o homem, as máquinas e equipamentos. Seu objetivo é reduzir riscos, atuando nas condições dos espaços físicos da empresa e organização de processos corporativos.</p>
    <p>Além de proporcionar conforto para o trabalhador, ela busca prevenir doenças ocupacionais. Como por exemplo lesões, dores no corpo e preservação das capacidades físicas e psicológicas do colaborador.</p>
    <p>De maneira resumida, podemos entender ergonomia como o estudo da relação que existe entre o homem e a forma como ele executa seu trabalho – presente, inclusive, na legislação por meio da Norma Regulamentadora 17.</p>
    <h2>A história da Ergonomia</h2>
    <p>Apesar de ser um tema atual, sua história mostra como a preocupação com a adaptação do trabalho vem de muito tempo atrás. Isso porque ela nasceu oficialmente no século XX, mas desde a pré-história o ser humano busca soluções para adaptar o trabalho e tarefas às suas próprias condições. A ergonomia, portanto, consiste em possibilitar a uma pessoa realizar uma determinada atividade adequando os recursos e o meio a seu favor.</p>
    <p>Os ancestrais pré-históricos do ser humano perceberam que era necessário adaptar armas para garantir a sua sobrevivência. Facilitando assim, a caça e a defesa. Também desenvolveram objetos, utensílios e ferramentas para modificar o ambiente ao seu redor.</p>
    <p>Mesmo com uma tradição tão antiga, o conceito de ergonomia foi utilizado pela primeira vez apenas em 1857, pelo polonês Wojciech Jarstembowsky. A partir daí, ele passou a ser explorado não apenas no ambiente de trabalho, mas também nas atividades rotineiras, no esporte e até mesmo no lazer.</p>
    <h2>Tipos de Ergonomia</h2>
    <p>A ergonomia tem uma abordagem bastante ampla que considera diferentes fatores. Sendo eles físicos, cognitivos, ambientais, sociais, organizacionais e outros que sejam relevantes. Por isso, pode ser classificada em tipos de especialização com abordagens mais aprofundadas. Muito se fala sobre a ergonomia e como ela é fundamental para garantir conforto e bem-estar para aos trabalhadores, além de reduzir os riscos de acidentes e doenças laborais.Mas você conhece os diferentes tipos de ergonomia? Saiba mais sobre eles e como identifica-los na empresa.</p>
    <h2>Ergonomia Física</h2>
    <p>Estuda a relação entre a anatomia do ser humano, sua fisiologia, biomecânica e antropometria com as atividades físicas que ele realiza. Envolve aspectos como:</p>
    <p>◉ posturas;</p>
    <p>◉ manuseio de materiais;</p>
    <p>◉ movimentos repetitivos;</p>
    <p>◉distúrbios  musculoesqueléticos.</p>
    <p>Analisa, por exemplo, se a cadeira utilizada favorece uma postura correta ou se a movimentação para manipular e levantar determinado objeto é adequada ou prejudicial.</p>
    <br><br><br><br><br>
    <footer><center>fontes: <a href="https://beecorp.com.br/ergonomia/">https://beecorp.com.br/ergonomia/</a></center></footer>
</center></div>


<%- include('partials/footer') %> 