<%- include('partials/header') %> 
<%- include('partials/navbar') %> 

<link rel="stylesheet" href="./partials/bootstrap/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

<style>
    body{
        background: linear-gradient(to right, #c3a8eb,#9762E7);
       
    }

  .texto{font-size: medium; color: white;}
  .header{
    background-color: rgb(92, 225, 230);
    width: 100%;
    height: 8%;
  }
  .imagemperfil{
    float: right;
    width: 8%;
    height: 8%;
    
}
.logonova{
    width: 20%;
    
}
.container{
    background-color: rgb(24, 49, 114);
    width: 70%;
    height: 50px;
 border-radius: 20px;
}
#cor2{
    background-color: rgb(27, 156, 228);
    width: 70%;
    height: 90px;
    
}
.link{
    color: #ffffff;
    font-size: medium;
text-decoration: none;
}
.link2{
    color: rgb(27, 156, 228);
    font-size: medium;
text-decoration: none;
}
.viva22{
    width: auto;
   max-width: 100%;
   
    
}

.justify2{
    justify-content: space-evenly;
    width: 70%;
}

.segundaparte{
    background-color: white;
}
.terceiraparte{
     background: linear-gradient(to right,#d9e5ec, #1B9CE4);
}

.parte1{
    width: 100%;
}
.fonte1{
    font-family: 'Rosario';font-size: 80px;
    color: white;
}
.fonte2{
    @media (max-width: 768px) {
        font-family: 'Open Sans';font-size: 130%;
    color: white;
            }
   
}
.fonte2{
    @media (min-width: 768px) {
        font-family: 'Open Sans';font-size: 230%;
    color: white;
            }
   
            
}
.img1{
   
width: 100%;


}

.fonte3{
    @media (max-width: 768px) {
        font-family: 'Open Sans';font-size: 130%;
    color:#183172;
            }
            width: 100%;
   
}
.fonte3{
    @media (min-width: 768px) {
        font-family: 'Open Sans';font-size: 230%;
    color: #183172;
            }
   }

   .fonte4{
    @media (max-width: 768px) {
        font-family: 'Open Sans';font-size: 160%;
    color:#183172;
            }
            width: 100%;
   
}
.fonte4{
    @media (min-width: 768px) {
        font-family: 'Open Sans';font-size: 260%;
    color:#183172;
            }
   }


</style>


    
    <div class="primeiraparte">
        <div style="float: left;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div style="float: left;">
            <br><br><br><br><br><br><br>
            <p><h3 class="fonte2">Aqui você encontra serviços de qualidade</h3></p>
                <p><h3  class="fonte2">com Humanidade para atender</h3></p>
                <p><h3 class="fonte2"> Você e sua Empresa!</h3></p>
        </div>
        <div style="float: right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div style="float: right;">
            <p><img class="img1"  src="../img/vivaj2.png" alt=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></p>
        </div>

    </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>






    <table>
        <tr>
           
            <td>
                
            </td>
            <td>
               
            </td>
        </tr>
    </table>
       <div >

      
        
        
       </div>
       <div id="pt2" class="segundaparte">
        <br><br><br><br><br>
        <center>
            <p class="fonte3" id="11" >Quem nós somos?</p>
            <p class="fonte3">Somos uma empresa com o objetivo de levar o bem-estar <p class="fonte3">e produtividade para o ambiente de trabalho</p></p>
            <div class="justify2"> <img class="viva22" src="../img/33.png" alt=""><p><br>
                <br><br><br><br><br><br>
            </div>
        </center>
        <div  style="background: linear-gradient(to right,#d9e5ec, #1B9CE4);">
            <br>
            <div>
                <div style="float: right;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                <div style="float: right;">
                   <center>
                    <p><h2 class="fonte4" id="22">Nossos Serviços:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    <p"><img src="../img/icones.png" height="90px" alt="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    <p><img src="../img/icones2.png" height="90px" alt="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                   </center>
                </div>
                <div style="float: left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                <div style="float: left;">
                    <p><img class="fonte3"  src="../img/viva10.png" alt=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></p>
                </div>
        
            </div>
            <br><br><br><br><br> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>

<link rel="stylesheet" href="./partials/bootstrap/bootstrap.min.js">

<%- include('partials/footer2') %> 