<%- include('partials/header') %> 
<%- include('partials/navbar7') %> 
<style>
    .divtexto{
   padding-inline-start: 1%;
    width: 65%;
    text-align: justify;
    font-family: arial;

}

body{
    background: linear-gradient(to right, #c3a8eb,#126cd2);
  
  }

p{
    font-size: large;
}
h2{
    font-size: large;
}




</style>

<center><div class="divtexto">
        
    <h2>Normas Regulamentadoras</h2>
     <br>
     <h4>O que são, para que servem e quais foram as últimas mudanças que ocorreram?</h4>
<br>
<p>Quem trabalha na área de Saúde e Segurança do Trabalho sabe a importância das Normas Regulamentadoras para este ramo. E se você é dono de uma empresa ou trabalha em uma, precisa saber que toda organização deve seguir procedimentos obrigatórios que garantam a saúde e segurança dos colaboradores no ambiente de trabalho.</p>
<p>As NRs, como são conhecidas, atuam na padronização de regras e métodos para que as empresas e colaboradores tenham uma base para evitar acidentes, de forma a construir um ambiente de trabalho seguro. </p>
<p>Por causa das mudanças que acontecem constantemente nos processos produtivos, as NRs precisam ser atualizadas com frequência com o intuito de auxiliar com melhorias nas condições de trabalho das empresas. </p>
<p>E, recentemente, as Normas Regulamentadoras tiveram seus conteúdos parcialmente atualizados e/ou alterados. Dessa forma, neste artigo vamos explicar o que são as NRs, para que elas servem e mostrar quais são as mudanças que ocorreram. </p>
<h2>O que são as Normas Regulamentadoras (NRs)? </h2>
<p>As NRs são obrigações e deveres que os empregadores precisam cumprir para garantir a segurança e saúde dos colaboradores no ambiente de trabalho. Essas normas regulamentadoras são baseadas na Lei n° 6.514/77. </p>
<p>Como elas atuam para apoiar o cumprimento da CLT, é preciso que as empresas coloquem em prática essas normas. Já os colaboradores que trabalham de carteira assinada, estão amparados pelas portarias que regem as NRs. </p>
<p>De acordo com o artigo 157 (CLT) da lei, cabe às empresas:</p>
<p>I – cumprir e fazer cumprir as normas de segurança e medicina do trabalho;</p>
<p>II – instruir os empregados, através de ordens de serviço, quanto às precauções a tomar no sentido de evitar acidentes do trabalho ou doenças ocupacionais;</p>
<p>III – adotar as medidas que lhes sejam determinadas pelo órgão regional competente;</p>
<p>IV – facilitar o exercício da fiscalização pela autoridade competente.</p>

<footer><p><center>Fontes:https://www.sesi-ce.org.br/blog/normas-regulamentadoras-o-que-sao-para-que-servem-e-quais-foram-as-ultimas-mudancas-que-ocorreram/ </center></p></footer>


</center></div>

<%- include('partials/footer') %> 