<%- include('partials/header') %> 
<%- include('partials/navbar7') %> 
<style>
    .divtexto{
   padding-inline-start: 1%;
    width: 65%;
    text-align: justify;
    font-family: arial;

}

body{
    background: linear-gradient(to right, #c3a8eb,#126cd2);
  
  }

p{
    font-size: large;
}
h2{
    font-size: large;
}




</style>
<center><div class="divtexto">
        
    <h2>Como está sua Saúde Mental?</h2>
<br>
<p>Já parou para pensar no assunto? Alguma vez refletiu se os seus pensamentos, ideias e sentimentos estão em harmonia? Sabe a diferença entre saúde mental e doença ou transtorno mental?</p>
<p>Em geral, os termos causam confusão. Mas basta lê-los com cuidado, pois são autoexplicativos. O primeiro refere-se à saúde e, os outros, à ausência dela. Não existe, porém, uma definição oficial para o conceito de saúde mental, de acordo com a Organização Mundial de Saúde (OMS).</p>
<p>O termo está relacionado à forma como uma pessoa reage às exigências, desafios e mudanças da vida e ao modo como harmoniza suas ideias e emoções. Diariamente, vivenciamos uma série de emoções, boas ou ruins, mas que fazem parte da vida:</p>
<p>Alegria, Felicidade, Tristeza, Raiva, Frustração, Satisfação etc.</p>
<p>Como lidamos com essas emoções é o que determina como está a qualidade da nossa saúde mental.</p>
<p>Assim, tê-la ou alcançá-la está muito longe da ausência de transtornos mentais. O desequilíbrio emocional facilita o surgimento de doenças mentais. Podemos dizer que a saúde mental contempla, entre tantos fatores, a nossa capacidade de sensação de bem-estar e harmonia, a nossa habilidade em manejar de forma positiva as adversidades e conflitos, o reconhecimento e respeito dos nossos limites e deficiências, nossa satisfação em viver, compartilhar e se relacionar com os outros -algo muito maior e anterior ao início dos transtornos mentais.</p>
<p>Manter a saúde mental, no entanto, não é tão simples quanto parece, principalmente nos dias de hoje. São muitos problemas…</p>
<p>◉ ESTRESSE, BRIGAS, ATRASOS</p>
<p>◉ ADVERTÊNCIAS, DOENÇAS, INCAPACIDADES</p>
<p>◉ LIMITAÇÕES, FALTA DE FAMÍLIA (OU EXCESSO DE FAMÍLIA), POUCO DINHEIRO (OU MUITO DINHEIRO)</p>
<div class="letrabranca">
<p>Diversos são os fatores que podem influenciar negativamente a nossa saúde mental.</p>
<h2>Uma grande fonte de sofrimento atualmente é o trabalho.</h2>
<p>Dedicamos grande parte do tempo de nossas vidas ao nosso emprego e nem sempre isso é prazeroso ou satisfatório. A alta taxa de desemprego no País, a baixa remuneração, más condições de trabalho, falta de planejamento profissional, entre tantos outros, são questões que levam ao aumento significativo de diversos transtornos.</p>
<p>Alguns dos mais comuns transtornos mentais associados ao trabalho são a SÍNDROME DE BURNOUT, o transtorno de estresse pós-traumático, a síndrome da fadiga crônica, a neurose profissional e a síndrome do esgotamento profissional.</p>

</div>


<footer><p><center>Fontes: <a href="https://www.einstein.br/saudemental">https://www.einstein.br/saudemental</a> </center></p></footer>


</center></div>
<%- include('partials/footer') %> 