
    body{
        background: linear-gradient(to right,#d9e5ec, #1B9CE4);
      
      }
  
  img{
      width: 40%;
      height: 20%;
  }
  .estiloinput{
      margin-top: 1%;
      height: 30px;
      font-size: medium;
      color: #424242;
   }
   .form-label{
      text-align: left;
   }
  .circle{
      
      width: 30%;
      
  }
  .botao1{
      border: solid 1px blue;
      border-radius: 20px;
      color: blue;
      background-color: white;
      transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
  
  }