.divtexto{
   padding-inline-start: 1%;
    width: 65%;
    text-align: justify;
    font-family: arial;

}

body{
    background: linear-gradient(to right,#d9e5ec, #1B9CE4);
  
  }

p{
    font-size: large;
}
h2{
    font-size: large;
}



